.capnhatnv-container {
    max-height: 100vh;
}
.capnhatnv-dspb-table--wrapper {
    position: relative;
    text-align: center;
}
.table-scroll {
    background:#fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    max-height:100%;
    overflow:auto;
    margin-top:70px;
}
.capnhatnv-dspb-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;

}
.capnhatnv-dspb-table--wrapper table {
    width:100%;
}
.capnhatnv-dspb-table--wrapper td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;

}

.capnhatnv-dspb-table--wrapper table thead th .text {
    position:absolute;
    top:-15px;
    z-index:0;
    height:20px;
}